.nav-link {
  display: inline-block;
  text-decoration: underline;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: #d1d5db;
}

.nav-link.active {
  color: #f2cc53;
  text-decoration: none;
  pointer-events: none;
}
.nav-link.active:hover {
  color: #f2cc53;
}

.nav-link.nav-link--portfolio-project-active {
  color: #f2cc53;
  text-decoration: underline;
}

.nav-link.nav-link--portfolio-project-active:hover {
  color: #f6dd8c;
  text-decoration: underline;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.main-content {
  flex: 1;
}

.footer {
  margin-top: auto;
  /* --uncomment to make footer black on white-- 
  background-color: #ccc;
  color: black; */
  padding: 1rem;
}
