.nav-link {
  display: inline-block;
  text-decoration: underline;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: #d1d5db;
}

.nav-link.active {
  color: goldenrod;
  text-decoration: none;
  pointer-events: none;
}

.nav-link.active:hover {
  color: goldenrod;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.main-content {
  flex: 1;
}

.footer {
  margin-top: auto;
  background-color: white;
  color: black;
  padding: 1rem;
}
